/* Flexbox für das Grundlayout */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header, footer {
  background: #2c3e50;
  color: white;
  padding: 1rem;
}

main {
  flex: 1;
  padding: 2rem;
  background: #ecf0f1;
  display: flex;
  min-height: 0; /* Wichtig für Flexbox-Overflow */
}

/* Grid für den Inhalt im Main-Bereich */
.grid-content {
  display: flex;
  gap: 1rem; /* Abstand verringert */
  flex: 1;
  min-height: 0; /* Wichtig für Flexbox-Overflow */
  overflow-x: auto;
  overflow-y: hidden; /* Verhindert vertikale Scrollbar */
  padding-bottom: 0; /* Kein Platz für Scrollbar */
  scrollbar-width: none; /* Firefox */
}

.grid-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1); 
  flex: 0 0 300px;
  max-width: 100%;
  height: 100%;        /* Nimmt vollen Raum ein */
  overflow-y: auto;    /* Scrollbar bei Überlauf */
}

.info {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1); 
  flex: 0 0 300px;
  max-width: 100%;
  height: 100%;        /* Nimmt vollen Raum ein */
  overflow-y: auto;    /* Scrollbar bei Überlauf */
}

.preview {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1); 
  flex: 0 0 300px;
  max-width: 100%;
  height: 100%;        /* Nimmt vollen Raum ein */
  overflow-y: auto;    /* Scrollbar bei Überlauf */
}

.add-card-btn {
  background: green;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  /*padding: 1rem;*/
  font-size: 1.5rem;
  cursor: pointer;
  height: 100px; /* Optional: gleiche Höhe wie Card */
  align-self: center;
  /*margin: 0 1rem;*/
}

.delete-card-btn {
  background: #e74c3c;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.card-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-map {
  width: 100%;
  height: 200px;
  margin-bottom: 1rem;
}

.card-nhn {
  margin-top: 0.5rem;
}
.card-nhn label {
  margin-right: 0.5rem;
}
.card-nhn input {
  width: 80px;
}

.card-layer {
  margin-top: 0.5rem;
}
.card-layer label {
  margin-right: 0.5rem;
}
.card-layer input {
  margin-bottom: 0.5rem;
  width: 120px;
}

.layer-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.delete-layer-btn {
  background: #e74c3c;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.add-layer-btn {
  background: green;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}